/* ======================= */
/* ======= HEADER ======== */
/* ======================= */
header {
    background-image: url("../images/bg-header.webp");
    /* border-radius: 8px 8px 0px 0px; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
}

nav .menus ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

nav .menus ul img {
  display: none;
}

nav .menus a {
    color: var(--white, #FFFFFF);
    font-family: var(--extra-font, "PoetsenOne");
    font-size: 1.125rem; /* 18px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
nav .menus a:hover {
    color: var(--yellow, #FFEF16);
}

nav .account {
    display: flex;
    gap: 32px;
}

/* ======================= */
/* === MEDIA QUERIES ===== */
/* ======================= */
@media (max-width: 1550px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 24px;
    }

    nav .menus ul {
        justify-content: end;
        padding: 1rem;
        align-items: end;
        flex-direction: column;
    }

    nav .menus ul li {
        display: none;
    }
    nav .account {
        display: none;
    }

    nav .menus ul img {
        display: flex;
    }
}