/* ======================= */
/* ==== MAIN SECTIONS ==== */
/* ======================= */

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}


/* ==================================== */
/* ====== SECTION FONCTIONNEMENT ====== */
/* ==================================== */
.fonctionnement {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--yellow, #FFEF16);
}


.fonctionnement-cards {
    display: flex;
    gap: 96px;
}

.fonctionnement-card {
    width: 361px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}


/* ==================================== */
/* ======== SECTION AVANTAGES ========= */
/* ==================================== */
.avantages {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--white, #FFFFFF);
}

.grid-avantages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    text-align: left;
    width: 720px;
}

.item-1,
.item-4,
.item-5 {
    padding: 0 48px;
    color: var(--white, #FFFFFF);
    background-color: var(--black, #000000);
}

.item-2 img,
.item-6 img {
    width: 720px;
}

.item-3 {
    align-items: center;
}
.item-3 img {
    width: 50%;
}

.item-4 {
    color: var(--black, #000000);
    background-color: var(--yellow, #FFEF16);
}

/* Couleurs des liens */
.item-1 a,
.item-5 a {
    color: var(--white, #FFFFFF);
}
.item-1 a:hover,
.item-5 a:hover {
    color: var(--yellow, #FFEF16);
}
.item-4 a {
    color: var(--black, #000000);
}
.item-4 a:hover {
    color: var(--red, #E9000B);
}

/* ==================================== */
/* ======= SECTION TEMOIGNAGES ======== */
/* ==================================== */
.testimonials {
    padding-top: 16px;
    padding-bottom: 48px;
    background-color: var(--white, #FFFFFF);
}

.testimonials-cards {
    display: flex;
    gap: 75px;
}

.testimonials-card {
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border: 3px solid var(--black, #000000);
    border-radius: 12px;
    padding: 16px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.top-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.name-photo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.lego-profil {
    position: relative;
}

.lego-profil svg {
    position: relative;
    z-index: 2;
}

.photo {
    position: absolute;
    top: 0;
    left: 6px;
    z-index: 1;
    transform: translateY(28%);
    overflow: hidden;
}

blockquote {
    font-family: var(--base-font, "Nunito");
    font-size: 1rem; /* 16px */
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    text-align: left;
}

/* ==================================== */
/* ======= SECTION POPULAIRES ========= */
/* ==================================== */
.populaires {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--yellow, #FFEF16);
}

.grid-populaires {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 32px;
}

.populaires-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}


/* ======================= */
/* === MEDIA QUERIES ===== */
/* ======================= */
@media (max-width: 1550px) {

    .fonctionnement {
        padding: 24px 16px;
    }

    /* ====== SECTION FONCTIONNEMENT ====== */
    .fonctionnement-cards {
        flex-direction: column;
        gap: 32px;
    }

    /* ======== SECTION AVANTAGES ========= */
    .avantages {
        padding: 24px 16px;
    }

    .avantages .section-content {
        padding-top: 16px;
    }

    .grid-avantages {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Ca c'est le plus important ! */
    .item-4 {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .items {
        width: 395px;
    }

    .item-1,
    .item-4,
    .item-5 {
        padding: 24px 16px;
    }

    .item-2 img,
    .item-3 img,
    .item-6 img {
        width: 395px;
    }

    /* ======= SECTION TEMOIGNAGES ======== */
    .testimonials-cards {
        flex-direction: column;
        gap: 16px;
    }

    /* ======= SECTION POPULAIRES ========= */
    .grid-populaires {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 32px;
    }

}